<h1>Dashboard#index</h1>
<p>Find me in app/views/dashboard/index.html.erb</p>

<%= current_user.email %>
<%= turbo_frame_tag 'post_ad' do %>
  <%= "At least we know the turbo frame is working (:" %>>
<% end %>


<div style="padding-top: 10px; padding-bottom: 5px; width: 120px; height: 100px; left:40%; position: relative; align-content: center; align-items: center; text-align: center">
  <% if current_user.avatar.attached? do %>
    <%= image_tag current_user.avatar, size: "200x200", alt:'/icon.png', style: "border-radius: 100%;" %>
  <% end %>
  <% else %>

    <%= image_tag "/icon.png", size: "100x100", alt:'/icon.png', style: "border-radius: 100%;" %>

  <% end %>


</div>

<%= turbo_stream_from "posts"%>
<div id="posts">
  <% @posts.each do |post| %>
    <%= render post %>
    <p>
      <%= link_to "Show this post", post, data: { turbo_frame: "_top"} %>
    </p>
  <% end %>
</div>
<p>End of all your posts</p>
<div><%= link_to 'Go to posts', posts_path, data: { turbo_frame: "_top"} %>></div>

