<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <p><%= f.label :name %></p>
    <p><%= f.text_field :name, autofocus: true, autocomplete: "email" %></p>
  </div>

  <div class="field" data-controller="registration">
    <p><%= f.label :avatar %></p>
    <p><%= f.file_field :avatar, accept: "image/*", autofocus: true, data: {action: "change -> registration#previewAvatar"} %></p>
    <img id="avatar-preview" class="d-none mt-2 rounded-circle border" width="100" height="100" style="object-fit: contain;" />

  </div>

  <div class="field">
    <p><%= f.label :email %></p>
    <p><%= f.email_field :email, autofocus: true, autocomplete: "email" %></p>
  </div>

  <div class="field">
    <p><%= f.label :password %></p>
    <% if @minimum_password_length %>
      <p><em>(<%= @minimum_password_length %> characters minimum)</em></p>
    <% end %>
    <p><%= f.password_field :password, autocomplete: "new-password" %></p>
  </div>

  <div class="field">
    <p><%= f.label :password_confirmation %></p>
    <p><%= f.password_field :password_confirmation, autocomplete: "new-password" %></p>
  </div>


  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
