<div data-controller="posts" data-posts.url-target="<%= all_comments_path %>">
    <div class="mb-1 border" style="border-color: red; border-width: 200px">
      <div class="Header d-flex flex-row">
          <% if comment.user.avatar.attached? do %>
            <%= image_tag comment.user.avatar, alt: 'No Pic', size: "40x30", style: "border-radius: 10px;" %>
          <% end %>
          <% else %>
          <div class="me-1 rounded-circle bg-success align-items-center align-content-center text-center" style="width: 4vh; height: 4vh;">
            <%= comment.user.name.first.upcase %><%= comment.user.name.at(1).upcase %>
          </div>
          <% end %>
        <div style="margin-top: auto">
          <b><%= comment.user.email %></b><br>
        </div>

      </div>
      <p>

        <%= "~ #{comment.body}" %><br>
      </p>
      <div class="d-flex justify-content-end">
          <%= comment.created_at.strftime("%d/%m/%y at %H:%M") %>

      </div>

      <br>

    </div>


  <br>

</div>