<div data-controller="posts" data-posts.url-target="<%= all_comments_path %>">
    <div class="mb-1 border" style="border-color: red; border-width: 200px">
      <div class="Header d-flex flex-row">
          <% if comment.user.avatar.attached? do %>
         <div>
           <%= image_tag comment.user.avatar %>
         </div>
          <% end %>
          <% else %>
          <div class="me-1 rounded-circle bg-success align-items-center align-content-center text-center" style="width: 3vw; height: 3vh;">
            <%= comment.user.name.first.upcase %><%= comment.user.name.at(1).upcase %>
          </div>
          <% end %>
        <div>
          <%= comment.user.name %><br>
        </div>

      </div>
      <p>

        <%= comment.body %><br>
      </p>
      <div class="d-flex justify-content-end">
          <%= comment.created_at.strftime("%m/%d %H:%M") %>

      </div>

      <br>

    </div>


  <br>

</div>