<p style="color: green"><%= notice %></p>

<% if user_signed_in? %>
  <p><%= current_user.email %> is logged in!</p>


<% content_for :title, "Users" %>

<h1>Users</h1>

<div id="users">
  <% @users.each do |user| %>
    <%= render user %>
    <p>
      <%= link_to "Show this user", user %>
    </p>
  <% end %>
</div>

<%= link_to "New user", new_user_path %>
  <%=  link_to "sign out", destroy_user_session_path, data: { turbo_method: :delete } %>
<%else %>
  <p>You must be logged in to see the users.</p>
<% end %>
