
<nav class="navbar navbar-expand-md bg-white border-bottom border-success shadow-sm">
  <div class="container">

    <%= link_to "Odin Book", root_path, class: "navbar-brand fw-bold text-success" %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto gap-2">
        <li class="nav-item">
          <%= link_to "Home", root_path, class: "nav-link #{'active' if current_page?(root_path)}" %>
        </li>
        <li class="nav-item">
          <%= link_to "Posts", posts_path, class: "nav-link #{'active' if current_page?(posts_path)}" %>
        </li>
      </ul>

      <div class="d-flex align-items-center gap-5">
        <div id="user" class="d-flex flex-column">
        <% if user_signed_in? %>
        <%= link_to user_path(current_user), class: "text-decoration-none d-flex align-items-center gap-2" do %>
          <% if current_user.avatar.attached? %>
            <%= image_tag current_user.avatar,
                          class: "rounded-circle border",
                          alt: "User Avatar",
                          size: "30x30" %>
          <% else %>
            <%= image_tag "/icon.png",
                          class: "rounded-circle border",
                          # alt: "Default Avatar",
                          size: "35x35" %>
          <% end %>
          <div class="fw-semibold text-dark"><%= current_user.name %></div>
        <% end %>
            </div>
        <%= button_to "Sign out", destroy_user_session_path,
                      method: :delete,
                      class: "btn btn-sm btn-outline-danger" %>
        <% end %>
          <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" >
            click me
          </button>
          <ul class="dropdown-menu">
            <li><%= link_to "Home", root_path, class: "dropdown-item" %></li>
<!--            <li><%#= link_to "About", about_path, class: "dropdown-item" %></li>-->
            <li><%= link_to "Sign Out", destroy_user_session_path, class: "dropdown-item", method: :delete %></li>
          </ul>
          </div>
      </div>
    </div>

  </div>
</nav>