<%= form_with(model: post, multipart: true)  do |form| %>
  <% if post.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div data-controller="registration" class="card h-100 shadow-sm border-top">
    <div class="card-body d-flex flex-column ">

      <div>
        <%= form.label :images, style: "display: block" %>
        <%= form.file_field :image, accept: "image/*", class: "form-control", autofocus: true, data: {action: "change -> registration#previewAvatar"} %>
        <img id="avatar-preview" class="d-none mt-2 border" width="200" height="200" style="object-fit: contain;" alt="/icon.png" />

      </div>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :content, style: "display: block" %>
    <%= form.text_field :content %>
  </div>
    </div>
  </div>

<!--  <div>-->
    <%#= form.label :User_id, style: "display: block" %>
    <%#= form.text_field :User_id %>
<!--  </div>-->

  <div>
    <%= form.submit %>
  </div>
<% end %>
