<p style="color: green"><%= notice %></p>

<%#= turbo_stream_from "posts"  %>
<%= "current @page: #{@page}"%>
<%= "This is not a part of the partial" %> <br>
<%= " a" %>
<%= "Currently there is no ad" %>
<% if @posts.any? %>


    <div class="row">
    <button data-controller="posts" data-action="click->posts#show" data-posts-url-value="<%= posts_path %>">
      <div  data-posts-target="posts"></div>
      <%= 'This is technically a button used for stimulus controller' %>
    </button>
    <%= render partial: "post", locals: { post: @posts.first } %>
  </div>

  <button data-controller="posts" data-posts-target="frame" data-action="click->posts#switch_partial" data-posts-url-value="<%= posts_path %>" style="top: 20px">
  <%= link_to "MaGiC button to switch the partial to comments section",  all_comments_path,  data:{turbo_frame: "post_ad"}%>
  </button>

<% else %>
  <div class="text-center text-muted py-5">
    <p class="fs-5">No posts yet.</p>
    <%= link_to "Create your first post", new_post_path, class: "btn btn-primary mt-2" %>
  </div>
<% end %>

