<p style="color: green"><%= notice %></p>

<%#= turbo_stream_from "posts"  %>
<br>
<% if @posts.any? %>


    <div class="last_post">
    <%= render partial: "post", locals: { post: @posts.first } %>
  </div>

<div class="mb-5" style="border-width:10px; border-bottom-color: #B00100; margin-left: 10%; margin-right: 10%">


  <%= link_to "Add a new Post",new_post_path, class: "btn btn-success" %>

</div>

  <%= render @posts %>

<% else %>
  <div class="text-center text-muted py-5">
    <p class="fs-5">No posts yet.</p>
    <%= link_to "Create your first post", new_post_path, class: "btn btn-primary mt-2" %>
  </div>
<% end %>

