<p style="color: green"><%= notice %></p>

<% content_for :title, "Posts" %>
<% if user_signed_in? %>
  <p><%= current_user.email %> is logged in!</p>


<h1>Posts</h1>

  <thead>Title:</thead>
  <thead>Content:</thead>
  <thead>User:</thead>


  <tbody>
  <tr>
    <td><%= post.title %></td>
    <td><%= post.content %></td>
    <td><%= post.user.name %></td>
  </tr>
<div id="posts">
  <% @posts.each do |post| %>
    <%= render post %>
    <p>
      <%= link_to "Show this post", post %>
    </p>
  <% end %>
</div>

<%= link_to "New post", new_post_path %>
  <%else %>
  <p>You must be logged in to see the posts.</p>
<% end %>